PORT=
KALAMCHE_INITIALIZE_WITH_DEFAULT_SETTINGS=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_POOL_SIZE=
DATABASE_URL=

REDIS_URL=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URL=

ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
VERIFICATION_TOKEN_SECRET=
VERIFICATION_REDIRECT_URL=

AWS_USER_NAME=
AWS_USER_PASSWORD=

SMTP_SEND_EMAIL=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_TLS_ENABLED=

CORS_ORIGIN=

STRIPE_SECRET_KEY=
PAYMENT_SUCCESS_REDIRECT_URL=
PAYMENT_CANCEL_REDIRECT_URL=
