NODE_ENV="development"
PORT=7319
BASE_URL="http://localhost:7319/api/v1"
ORIGIN_URL="*"

SENTRY_DSN=

DATABASE_URL="postgresql://admin:password@localhost:5432/kalamche"

MEILISEARCH_API_URL="http://127.0.0.1:7700"
MEILISEARCH_API_KEY="M0m45GIllzLLPSy6LAxOQ74Ji1uw5PcQSdprRb_t2bU"

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=

ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
VERIFICATION_TOKEN_SECRET=

OFFER_REDIRECT_PAGE_URL="http://localhost:7319/api/v1/fr-token/redirect"

SMTP_SEND_EMAIL='"Kalamche" <kalamche@test.com>'
SMTP_HOST="localhost"
SMTP_PORT=1025
SMTP_USER=" "
SMTP_PASSWORD=" "
SMTP_TLS_ENABLED=false

AWS_S3_ACCESS_KEY="admin"
AWS_S3_SECRET_KEY="password123"
AWS_S3_BUCKET_NAME="kalamche"
AWS_S3_ENDPOINT="http://localhost:9000"
AWS_S3_REGION="auto"
AWS_S3_USE_PATH_STYLE=true

ZARINPAL_MERCHANT_ID="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
ZARINPAL_CALLBACK_URL="http://localhost:7319"
ZARINPAL_SANDBOX=true

GO_UPC_API_TOKEN=""

KAFKA_BROKERS_URI="localhost:9092"
